#calculadora {
    border-radius: 5px;
    width: 300px;
    color: white;
    background-color: black;
    padding: 30px;
    font-size: 1.5em;
}

#divButton{
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

#divCenter{
    padding: 1em;
    display: flex;
    justify-content: center;
}

#divFlex {
    display:flex;
    justify-content: center;
}

.numero1 {
    margin-left: 3em;
    width: 80px;
}

.numero2 {
    margin-left: 3em;
    width: 80px;
}

#button {
    font-size: 1em;
    border-style: none;
    background-color: #4CAF50; /* Green */
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;  
    padding: 30px 30px; 
}
